.jumbo{
    background-image:url("jumboimg.jpeg");
    background-size: cover;
    height: 60vh;
    color: white;
}

.transbox {
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.75;
    box-shadow: 5px 5px grey;
  }

.transMessage{
    color: rgb(160, 63, 63);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: calc(1em + 1vw);
}

.title{
    font-size: calc(1.5em + 1vw);
}

.card{
    border-radius: 15px !important;
}

  .Card-image:hover{
    background-color: #eb8d8d;
    border-radius: 15px;
  }

.optionCard{
    display: inline-block;
    width: 180px;
    margin-left: 5%;
    margin-bottom: 10px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
