.main-div{
    padding-top: 2%;
}


.search-div{
    text-align: center;
    padding-bottom: 6vw;
    padding-top: 6vw;
    background-color: #706c6c;
    border: 1px solid black;
    opacity: 0.90;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.search-fields-div{
    opacity: 100%;
}

.error-div{
    text-align: center;
}

#search-title{
    font-size: calc(2.9em + 1vw);
}

#search{
    font-size: calc(2.0em + 1vw);
    text-align: center;
}

#search-button{
    width: calc(8.0em + 1vw);
    height: calc(2.0em + 1vw);
    font-weight: bold;
}

