.topNav{
    
    color: rgb(66, 63, 63);
    margin-bottom: 0;
    border-bottom: 1rem solid;
    background-color: rgb(255, 255, 255);
}

.topNav-title{
    color: rgb(66, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    
}

.navigate-buttons{
    margin-left: 25vw;
    margin-right: 0vw;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(160, 63, 63);
}

.navigate-buttons:hover{
    color: rgb(177, 3, 3);
    text-decoration: none;
}


.topNav-title:hover{
    color: rgb(177, 3, 3);
    text-decoration: none;
}


.userButtons{
    font-size: 16px;
    text-align: right;
    width: 98%;
}


